<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    
    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xpoweredBy</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>compilerSourceVM</param-name>
            <param-value>1.7</param-value>
        </init-param>
        <init-param>
            <param-name>compilerTargetVM</param-name>
            <param-value>1.7</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    
    
    
    <servlet>
        <servlet-name>upload_teacher_servlet</servlet-name>
        <servlet-class>servlet.upload_teacher_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload_teacher_servlet</servlet-name>
        <url-pattern>/upload_teacher_servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>upload_student_servlet</servlet-name>
        <servlet-class>servlet.upload_student_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload_student_servlet</servlet-name>
        <url-pattern>/upload_student_servlet</url-pattern>
    </servlet-mapping>    
    <!--    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>-->
    <web-app-container>
        <show-archived-real-path-enabled>true</show-archived-real-path-enabled>
    </web-app-container>
</web-app>
